@use "main";
@use "skills";
@use "project";
@use "career";

.table{ 
    border-collapse:collapse;
    border-spacing: 0;
}
body{
    margin:0;
    background-color: #2C3E50;//#A0B5A8;//#1C3D5A;
    color: #ECF0F1;//#EDE1D0;//#F7F1E3;
}
a{
    color: #ECF0F1;//#EDE1D0;//#F7F1E3;
    text-decoration-line:none;
}