.project{
    width:100%;
    min-height: 800px;
    border-bottom: 1px;
    padding:60px 0;
    .contents{
        max-width:1280px;
        margin: 0 auto;
        .project{
            .projectThumbnail{
                display: inline-block;
                width:30%;
                max-width:720px;
                margin-right: 2%;
            }

            .projectSummary{
                display: inline-block;
                vertical-align: top;
                div{
                    display: block;
                    margin-bottom: 2%;
                }
            }
            .projectContent{
                width:100%;
                margin-top:2%;
            }
        }
        

    }
}