.project{
    width:100%;
    min-height: 800px;
    border-bottom: 1px;
    padding:60px 0;
    .contents{
        max-width:1280px;
        margin: 0 auto;
        .project{
            .projectThumbnail{
                display: inline-block;
                width:30%;
                max-width:720px;
                margin-right: 1em;
            }

            .projectSummary{
                display: inline-block;
                vertical-align: top;
                div,a{
                    display: block;
                    margin-bottom: 1em;
                    font-size:large;
                }
            }
            .projectContent{
                width:100%;
                margin-top:1em;
                font-size:large;
            }
        }
        

    }
}